<script setup lang="ts">
import { computed  } from 'vue';
import type { User } from 'firebase/auth'
import userStore from '../store/user'

const user = computed<User | null>(() => userStore?.user)
</script>

<template>
<div class="flex flex-col container mx-auto text-center items-center gap-y-4">
    <h2>Dashboard</h2>

    <div class="flex flex-col justify-between items-start gap-y-6 p-2 rounded border border-green-500 border-solid w-1/3">
        <div> ID: {{ user?.uid}} </div>
        <div> Email: {{ user?.email}} </div>
        <div> Created: {{ user?.metadata.creationTime }}</div>
    </div>
</div>
</template>