<script setup lang="ts">
import { useRoute, useRouter, RouterLink } from 'vue-router'
import { signOut, getAuth } from 'firebase/auth';
import app from '../firebase'
import userStore from '../store/user';

const route = useRoute()
const router = useRouter()

function logout() {
    signOut(getAuth(app))
    router.push('/')
}
</script>

<template>
<div id="nav" class="flex justify-end px-5 py-2">

    <div v-if="userStore?.user?.email" class="flex items-center">
        <div class="mr-3">
            {{ userStore?.user.displayName ?? userStore?.user.email }}
        </div>
        <button @click="logout" class="bg-green-500 hover:bg-green-700 font-bold px-2 py-1 rounded">Logout</button>

    </div>

    <div v-else>
        <RouterLink class="bg-teal-500 hover:bg-teal-700 font-bold px-2 py-1 rounded mx-2" v-if="route.path !== '/sign-up'" to="/sign-up">
            Sign Up
        </RouterLink>

        <RouterLink class="bg-green-500 hover:bg-green-700 font-bold px-2 py-1 rounded mx-2" v-if="route.path !== '/sign-in'" to="/sign-in">
            Sign In
        </RouterLink>
    </div>


</div>
</template>