<script setup lang="ts">
import { ref } from 'vue'
import { useSignInWithEmailAndPassword } from '../store/user'
import { useRouter } from 'vue-router'

const router = useRouter()
const email = ref('')
const password = ref('')
const { signInWithEmailAndPassword, loading, error } = useSignInWithEmailAndPassword()

function onSubmit () {
    signInWithEmailAndPassword(email.value, password.value)
        .then(() => {
            router.push('/dashboard')
        })
}

const inputClasses = "form-control block w-full px-3 py-1.5 text-base font-normal text-gray-700 border border-solid-border-gray-300 rounded bg-white bg-clip-padding transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
const labelClasses = "form-label text-left block mb-1 text-gray-500"
</script>

<template>
<div class="container mx-auto w-1/5 mt-10 border border-solid border-gray-200 p-5 bg-gray-100">
    <form @submit.prevent="onSubmit" class="container mx-auto">
        <div class="mb-3">
            <label for="email" :class="labelClasses">Email</label>
            <input v-model="email" name="username" type="text" :class="inputClasses">
        </div>

        <div class="mb-3">
            <label for="password" :class="labelClasses">Password</label>
            <input v-model="password" name="password" type="password" :class="inputClasses">
        </div>


        <div class="text-right">
            <button :disabled="(password.length === 0 || email.length === 0) || loading" type="submit" class="text-white text-right rounded px-4 py-2 bg-blue-500 hover:bg-blue-700 disabled:hover:bg-blue-500 disabled:opacity-25 disabled:cursor-not-allowed">Sign In</button>
        </div>
    </form>
</div>
</template>