<script setup lang="ts">

import { RouterView } from 'vue-router'
import Nav from './components/Nav.vue'
import SignIn from './components/SignIn.vue'

</script>

<template>

<div>
    <Nav />

    <RouterView />
</div>

</template>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}
</style>
